@page
@model PBL3_Project.Pages.Admin.QLHSGS.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HoSoGiaSu[0].TenAcc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoSoGiaSu[0].PasswordAcc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoSoGiaSu[0].TenGiaSu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoSoGiaSu[0].DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoSoGiaSu[0].SoDienThoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoSoGiaSu[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoSoGiaSu[0].GioiTinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoSoGiaSu[0].Tuoi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoSoGiaSu[0].MonHoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoSoGiaSu[0].TrinhDoHocVan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoSoGiaSu[0].HocPhi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.HoSoGiaSu) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenAcc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PasswordAcc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenGiaSu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoDienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tuoi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonHoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrinhDoHocVan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HocPhi)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID_GiaSu">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID_GiaSu">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID_GiaSu">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
