@page
@model PBL3_Project.Pages.Tutor.TDangKiPostModel
@{
    Layout = "_TLayout";
    ViewData["title"] = "Suất dạy đăng kí";
}

<link rel="stylesheet" href="~/css/main.css">
<link rel="stylesheet" href="~/css/mainAdmin.css">
<link rel="stylesheet" href="~/css/Personal.css">
<link rel="stylesheet" href="~/css/hoSoGiaSu.css">


<body>
    <div class="container2">
        <div class="control">
            <img class="avatar" src="~/img/avar.jpg" alt="Avatar" />
            <div class="user-info">
                <div class="username">Gia sư</div>
                <img src="~/img/iconControl.png" alt="Logo" class="iconControl" />
            </div>
        </div>

        <div class="menu">

            <div class="choice">
                <ul>
                    <li>
                        <a asp-page="/Tutor/TProfile"><u>Thông tin tài khoản</u> </a>
                    </li>
                    <li>
                        <a asp-page="/Tutor/TInfo"><u>Quản lý hồ sơ : <br><br></u></a>
                    </li>
                    <li>
                        <a href="#"><u> Quản lý suất dạy :<br><br></u> </a>
                        <ul>
                            <li style="color: white;"><a asp-page="/Tutor/TDangKiPost">Suất dạy đã đăng kí </a></li>
                            <li style="color: white;"><a asp-page="/Tutor/TDonePost">Suất dạy được nhận</a></li>
                            <li style="color: white;"><a asp-page="/Tutor/TReview">Đánh giá của tôi</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <main>

        <!-- <h1 class="pageTitle">Suất dạy đã đăng kí</h1> -->

         @foreach(var post in Model.Posts)
            {
            <div class="job-posting" style="margin:100px">
            <div class="image-container">
                <img src="~/img/avar.jpg" alt="avar" class="avar">
                <p class="caption">Lờ tờ mờ</p>
            </div>
            <p><b><i>Id bài đăng:</i></b> @post.ID_BaiDang <input type="hidden" asp-for="BaiDang.ID_BaiDang" /> </p><br>
            <p><b><i>Môn học:</i></b> @post.MonHoc</p><br>
            <p><b><i>Trình độ học vấn:</i></b> @post.TrinhDoHocVan</p><br>
            <p><b><i>Học phí:</i></b> @post.HocPhi</p><br>
            <p><b><i>Lớp:</i></b> @post.Lop</p><br>
            <p><b><i>Số buổi:</i></b> @post.SoBuoi</p><br>
            <p><b><i>Số học viên:</i></b> @post.SoHocVien</p><br>
            <p><b><i>Thời gian:</i></b> @post.ThoiGian</p><br>
            <p><b><i>Địa chỉ:</i></b> @post.DiaChi</p><br>
            <p><b><i>Ghi chú:</i></b> @post.GhiChu</p><br>

            <button class="Cancel-btn">Hủy đăng ký</button>
        </div>
        }
    </main>

</body>

