@page
@model THomeModel
@{
}
@{
    Layout = "_TLayout";
    ViewData["title"] = "Trang chủ Gia sư";
}
<link rel="stylesheet" href="~/css/main.css">

<script src="~/js/main.js"></script>
<body>
    <div class="container">
        <img src="~/img/FilterSearch.png" alt="FilSearch" class="FilSearch">
        <!-- filter -->
        <form method="post">
            <div class="filter">
                <div class="form-control">
                    <label>Môn học:</label>
                    <input type="text" placeholder="Nhập môn học" asp-for="Model.MonHoc" name="MonHoc">
                </div>
                <div class="form-control">
                    <label>Lớp:</label>
                    <input type="text" placeholder="Nhập lớp" asp-for="Model.Lop" name="Lop">
                </div>
                <div class="form-control">
                    <label>Khu vực:</label>
                    <input type="text" placeholder="Nhập khu vực" asp-for="Model.KhuVuc" name="KhuVuc">
                </div>
                <div class="form-control">
                    <label>Học phí: (VNĐ)</label>
                    <input type="text" placeholder="Nhập học phí cao nhất" asp-for="Model.HocPhiMax" name="HocPhiMax">
                    <input type="text" placeholder="Nhập học phí thấp nhất" asp-for="Model.HocPhiMin" name="HocPhiMin">
                </div>
                <div class="form-control">
                    <label>Số học viên:</label>
                    <input type="text" placeholder="Nhập số học viên" asp-for="Model.SoHocVien" name="SoHocVien">
                </div>
                <div class="form-control">
                    <label>Số buổi:</label>
                    <input type="text" placeholder="Nhập số buổi học" asp-for="Model.SoBuoi" name="SoBuoi">
                </div>

                <form method="post">

                    <a asp-page="/Tutor/PHome" class="btn btn-func1">Xóa tất cả</a>

                    <button type="submit button" class="btn btn-func2" asp-page-handler="ByFilter"> Tìm kiếm</button>

                </form>
            </div>
        </form>

        <style>
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            }
            .btn-func1, .btn-func2 {
            background-color: #002182;
            width: 100px;
            height: 40px;
            border-radius: 5px;
            text-align: center;
            color: #ccc;
            }
            .btn-func2 {
            margin-left: 130px;
            margin-top: -40px;
        }
        </style>
        <main>
            @foreach (var post in Model.Posts)
            {
                <div class="job-posting">
                    <div class="image-container">
                        <img src="~/img/avar.jpg" alt="avar" class="avar">
                        <p class="caption">Lờ tờ mờ</p>
                    </div>

                    @*<p><b><i>Id bài đăng:</i></b> @post.ID_BaiDang <input type="hidden" asp-for="BaiDang.ID_BaiDang" /> </p><br>*@
                    <p><b><i>Môn học:</i></b> @post.MonHoc</p><br>
                    <p><b><i>Trình độ học vấn:</i></b> @post.TrinhDoHocVan</p><br>
                    <p><b><i>Học phí:</i></b> @post.HocPhi</p><br>
                    <p><b><i>Lớp:</i></b> @post.Lop</p><br>
                    <p><b><i>Số buổi:</i></b> @post.SoBuoi</p><br>
                    <p><b><i>Số học viên:</i></b> @post.SoHocVien</p><br>
                    <p><b><i>Thời gian:</i></b> @post.ThoiGian</p><br>
                    <p><b><i>Địa chỉ:</i></b> @post.DiaChi</p><br>
                    <p><b><i>Ghi chú:</i></b> @post.GhiChu</p><br>


                    <form method="post">
                        <div class="button-container">
                            <button class="btn btn-primary" type="button submit" asp-page-handler="DangKy" asp-route-id="@post.ID_BaiDang" onclick="return confirm('Bạn có muốn đăng ký không?')">Đăng ký</button>
                        </div>
                    </form>

                </div>
            }

        </main>
    </div>
</body>