@page
@model PBL3_Project.Pages.Admin.QLPost.IndexModel
@{
	ViewData["Title"] = "Quan ly bai dang";
}

<style>

</style>

<h1 class="text-danger">Quản lý bài đăng</h1>

@foreach (var item in ViewBag.Data)
{
	<div class="card my-4">
      <h2 class="card-header text-info">@item.ID_BaiDang</h2>
      <div class="card-body">
            <p>@item.MonHoc</p>
            <p>@item.TrinhDoHocVan</p>
            <p>@item.HocPhi</p>
            <p>@item.Lopg</p>
            <p>@item.SoBuoi</p>
            <p>@item.SoHocVien</p>
            <p>@item.ThoiGian</p>
            <p>@item.DiaChi</p>

        <div>
          <a href="#" class="btn btn-warning">Dang ki day</a>
          <a href="#" class="btn btn-warning">Huy dang ki</a>
        </div>
      </div>
    </div>
}
