@page
@using PBL3_Project.ViewModel;
@model RegisterModel
@{
    Layout = null;
    ViewData["title"] = "Đăng kí";
}

<link rel="stylesheet" href="~/css/register.css" />
<link rel="stylesheet" href="~/css/style.css" />

<body>
    <header>
        <nav>
            <div class="logo-box">
                <img src="~/img/logo.png" alt="Logo" class="logo" />
            </div>
            <ul class="nav-links">
                <div class="sign-up-box">
                    <a asp-page="/Account/Register" class="btn btn-su" style="text-decoration: none">Đăng ký</a>
                    <a asp-page="/Account/Login" class="btn btn-su" style="text-decoration: none">Đăng nhập</a>
                </div>
            </ul>
        </nav>

        <div class="container">
            <h2>ĐĂNG KÝ</h2>
            <form method="post" asp-page-handler="CreateAcc">
                <div> 
                    @*<label for="Email">Email</label> <br />
                    <input type="text" id="email" name="email" asp-for=Model.Email />
                    <span asp-validation-for="Model.Email" class="text-danger"></span>*@
                    <label class="form-label" asp-for="Model.Email">Email Address</label>
                    <input type="text" asp-for="Model.Email" class="form-control" />
                    <span asp-validation-for="Model.Email" class="text-danger"></span>
                </div>
                
                <div>
                    <label class="form-label" asp-for="Model.Password">Password</label>
                    <input type="password" asp-for="Model.Password" class="form-control" />
                    <span asp-validation-for="Model.Password" class="text-danger"></span>
                </div>
                
                <div>
                    <label class="form-label" asp-for="Model.ConfirmPassword">ConfirmPassword</label>
                    <input type="password" asp-for="Model.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Model.ConfirmPassword" class="text-danger"></span>
                </div>

                @*<div class="radio-group">
                    <label><input value="@RolesApp.Parent" type="radio" name="UserRole">@RolesApp.Parent</label>
                    <label><input value="@RolesApp.Tutor" type="radio" name="UserRole">@RolesApp.Tutor</label>
                </div>*@

                <label class="text-danger">Select Role</label>
                <div class="form-check form-switch">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" value="@RolesApp.Parent" type="radio" name="rUserRole" asp-for=IsParent checked>
                        <label class="form-check-label">
                            @RolesApp.Parent
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" value="@RolesApp.Tutor" type="radio" name="rUserRole">
                        <label class="form-check-label">
                            @RolesApp.Tutor
                        </label>
                    </div>
                </div>              

                <!-- <button type="submit">Đăng nhập</button> -->
                <a><button class="btn-Register" type="submit">Đăng ký</button></a>
                <div asp-validation-summary="All" class="text-danger"></div>
            </form>

        </div>
    </header>
</body>
</html>

