@page
@model PBL3_Project.Pages.Admin.QLACPH.IndexModel

@{
    ViewData["Title"] = "QLACParent";
}

<h1>Index</h1>

<p>
    <a asp-page="Create" class=" btn btn-success" style="text-decoration: none">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountPhuHuynh[0].TenAcc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountPhuHuynh[0].PasswordAcc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AccountPhuHuynh) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenAcc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PasswordAcc)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID_PhuHuynh">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID_PhuHuynh">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID_PhuHuynh">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
