@using PBL3_Project.Models
@model BaiDang

<link rel="stylesheet" href="~/css/post.css" />

<div class="card my-4">
    @*<h2 class="card-header text-black">@Model.ID_PhuHuynh</h2>*@
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <label for=""> <b><i>Môn học:</i></b> @Model.MonHoc</label>

            </li>
            <li class="list-group-item">
                <label for=""> <b><i>Học phí:</i></b> @Model.HocPhi</label>

            </li>
            <li class="list-group-item">
                <label for=""> <b><i>Lớp:</i></b> @Model.Lop</label>

            </li>
            <li class="list-group-item">
                <label for=""><b><i>Trình độ học vấn:</i></b> @Model.TrinhDoHocVan</label>

            </li>
            <li class="list-group-item">
                <label for=""><b><i>Số buổi:</i></b> @Model.SoBuoi</label>

            </li>
            <li class="list-group-item">
                <label for=""><b><i>Số học viên:</i></b> @Model.SoHocVien</asp>

            </li>

            <li class="list-group-item">
                <label for=""><b><i>Thời gian:</i></b> @Model.ThoiGian</label>

            </li>
            <li class="list-group-item">
                <label for=""><b><i>Địa chỉ:</i></b> @Model.DiaChi</label>

            </li>
            <li class="list-group-item">
                <label for=""><b><i>Ghi chú:</i></b>  @Model.GhiChu</label>

            </li>
        </ul>
    </div>

</div>
    </div>